{{ define "fragments/card" }}

<div th:fragment="card" class="feature-card" id="{{ .Id }}" th:if="${@endpointConfiguration.isEndpointEnabled(cardLink)}" data-bs-tags="{{.Tags}}">
              <a href="{{ .CardLink }}">
                <div class="d-flex align-items-center"> <!-- Add a flex container to align the SVG and title -->
                    {{ if .SvgPath }}
                  <img  class="card-icon home-card-icon home-card-icon-colour" src="{{ .SvgPath }}" alt="Icon" width="30" height="30">
                    {{ end }}
                  <h5 class="card-title  ms-2" >{{ .CardTitle }}</h5> <!-- Add some margin-left (ms-2) for spacing between SVG and title -->
                </div>
                <p class="card-text" >{{ .CardText }}</p>
              </a>
              <div class="favorite-icon" onclick="toggleFavorite(this)">
                <img src="images/star.svg" alt="Favorite">
              </div>
            </div>
{{ end }}